h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: #ffffff;
  color: #555555;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
}

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 59px;
    padding-right: 59px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (max-width: 767px) {
  .section {
    margin: 0 auto;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.section__pretittle {
  font-size: 11px;
  line-height: 1.3636363636;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__pretittle::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
}
.section__tittle {
  font-size: 28px;
  line-height: 1.1785714286;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .section__tittle {
    font-size: 42px;
    line-height: 1.1666666667;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}
.section__after-tittle {
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1280px) {
  .section__after-tittle {
    font-size: 18px;
    line-height: 1.6666666667;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.3333333333;
  font-weight: 600;
  letter-spacing: 0.09em;
  border-radius: 25px;
  border: 1px solid #ff6c00;
  text-transform: uppercase;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:focus, .btn:hover {
  background-color: #ff6c00;
  color: #ffffff;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
  }
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 49px;
  padding-right: 40px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .header .container {
    padding-left: 53px;
    padding-right: 63px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.logo__icon {
  fill: #303030;
}
@media screen and (max-width: 767px) {
  .logo__icon {
    fill: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    margin-left: 61px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    margin-left: 53px;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 24px;
}
.nav__link {
  font-size: 12px;
  line-height: 1.3333333333;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #ff6c00;
}

@media screen and (max-width: 767px) {
  .header__contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .header__contact {
    margin-left: auto;
  }
}

.header__link {
  font-size: 12px;
  line-height: 1.3333333333;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__link {
    margin-top: 20px;
  }
}

.header__btn {
  color: #ffffff;
}

.menu-open {
  border: none;
  background-color: transparent;
}
.menu-open__icon {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.hero__wrapper {
  margin: 0 auto;
  height: 580px;
  background-image: url(../images/hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 208px 143px 163px 31px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__wrapper {
    background-image: url(../images/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero__wrapper {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__wrapper {
    width: 576px;
    padding: 280px 167px 237px 70px;
    background-image: url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .hero__wrapper {
    background-image: url(../images/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    width: 1073px;
    height: 680px;
    padding: 272px 452px 206px 96px;
    background-image: url(../images/hero-desktop.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__wrapper {
    background-image: url(../images/hero-desktop@2x.jpg);
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1280px) {
  .hero.container {
    padding-left: 0;
  }
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 85px;
  margin-right: 28px;
  padding: 0 35px 40px 35px;
}
@media screen and (max-width: 767px) {
  .hero__left {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero__left {
    padding: 0 56px 40px 78px;
  }
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__list::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
}

.hero__item--margin {
  margin-right: 40px;
}

.hero__social {
  font-size: 11px;
  line-height: 1.3636363636;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__social:hover, .hero__social:focus {
  color: #ff6c00;
}

.hero__pretittle {
  color: rgba(157, 164, 189, 0.6);
}
.hero__pretittle::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.hero__tittle {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  line-height: 1.1666666667;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .hero__tittle {
    font-size: 72px;
    line-height: 1.1805555556;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}

.hero__after-tittle {
  color: #9da4bd;
}
@media screen and (min-width: 1280px) {
  .hero__after-tittle {
    width: 400px;
  }
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .about__list {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 1279px) {
  .about__item--margin {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .about__item--margin {
    margin-right: 30px;
  }
}
.about__img {
  display: block;
}
.about__wrap {
  margin-left: 30px;
}
@media screen and (min-width: 1280px) {
  .about__wrap {
    margin-left: 64px;
  }
}
.about__pretittle {
  color: #303030;
}
.about__pretittle::before {
  background-color: #303030;
}
.about__tittle {
  color: #303030;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__tittle {
    font-size: 28px;
    line-height: 1.1785714286;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}
.about__after-tittle {
  margin-bottom: 20px;
}
.about__text {
  font-size: 14px;
  line-height: 1.8571428571;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
.about__btn {
  color: #303030;
}

.prices {
  background-image: url(../images/prices-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111319;
  margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-mobile@2x.png);
  }
}
@media screen and (max-width: 767px) {
  .prices {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .prices {
    width: 768px;
    background-image: url(../images/prices-tablet.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-tablet@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .prices {
    background-image: url(../images/prices-desktop.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-desktop@2x.png);
  }
}
.prices__pretittle {
  color: rgba(157, 164, 189, 0.6);
}
.prices__pretittle::before {
  background-color: rgba(157, 164, 189, 0.6);
}
.prices__tittle {
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .prices__tittle {
    margin-bottom: 44px;
  }
}
.prices__wrap {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 30px;
}
@media screen and (min-width: 1280px) {
  .prices__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: none;
    padding: 0;
  }
}
.prices__list {
  font-size: 14px;
  line-height: 2.1428571429;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .prices__list {
    font-size: 18px;
    line-height: 1.6666666667;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1280px) {
  .prices__list {
    width: 585px;
    padding: 30px 40px;
  }
}
@media screen and (max-width: 1279px) {
  .prices__list {
    margin-top: -20px;
  }
}
@media screen and (min-width: 1280px) {
  .prices__list--left {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (max-width: 1279px) {
  .prices__list--right {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .prices__list--right {
    background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.prices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 1280px) {
  .prices__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.prices__item::before {
  content: "";
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
}
.prices__type {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.prices__btn {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 50px;
  color: #ffffff;
}
.prices .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .advantages .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 155px;
    padding-right: 125px;
  }
}
.advantages__wrap {
  margin-left: 130px;
}
.advantages__pretittle {
  color: #303030;
}
.advantages__pretittle::before {
  background-color: #303030;
}
.advantages__tittle {
  color: #303030;
}
.advantages__after-tittle {
  font-size: 18px;
  line-height: 1.6666666667;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 44px;
}
@media screen and (min-width: 1280px) {
  .advantages__after-tittle {
    margin-bottom: 0;
  }
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advantages__list {
    padding-left: 240px;
  }
}
.advantages__item {
  background-color: #f7f7f7;
  padding: 20px 36px;
  width: 193px;
  height: 133px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    padding: 20px 44px;
    width: 210px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__item {
    padding: 20px 24px;
    width: 170px;
  }
}
.advantages__item--padding {
  padding: 20px 32px;
}
@media screen and (min-width: 768px) {
  .advantages__item--padding {
    padding: 20px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__item--padding {
    padding: 20px 20px;
  }
}
.advantages__item:nth-child(odd) {
  margin-right: 30px;
}
.advantages__item:nth-child(even) {
  margin-top: 30px;
}
.advantages__number {
  font-size: 42px;
  line-height: 1.3571428571;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__number::after {
  content: "+";
  font-size: 16px;
  line-height: 1.375;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ff6c00;
}
.advantages__text {
  font-size: 11px;
  line-height: 1.3636363636;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
  color: #303030;
}

.masters {
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .masters .container {
    padding: 0 159px;
  }
}
@media screen and (min-width: 1280px) {
  .masters .container {
    padding: 0 55px;
  }
}
.masters__pretittle {
  color: #303030;
}
.masters__pretittle::before {
  background-color: #303030;
}
.masters__tittle {
  color: #303030;
  margin-bottom: 44px;
}
@media screen and (min-width: 1280px) {
  .masters__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.masters__item:not(:last-child) {
  margin-bottom: 64px;
}
@media screen and (min-width: 1280px) {
  .masters__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.masters__img {
  display: block;
}
.masters__thumb {
  padding: 30px 137px 0 137px;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .masters__thumb {
    padding: 30px 0 0 0;
  }
}
.masters__name {
  font-size: 18px;
  line-height: 1.3888888889;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}
.masters__desc {
  font-size: 14px;
  line-height: 1.3571428571;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.masters-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.masters-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}
.masters-social__icon {
  width: 20px;
  height: 20px;
  fill: #303030;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.masters-social__icon:not(:last-child) {
  margin-right: 10px;
}
.masters-social__link:hover .masters-social__icon, .masters-social__link:focus .masters-social__icon {
  fill: #ff6c00;
}

@media screen and (min-width: 1280px) {
  .gallery .container {
    padding: 0 55px;
  }
}
.gallery__pretittle {
  color: #303030;
  margin-bottom: 44px;
  line-height: calc(21 / 11);
}
.gallery__pretittle::before {
  background-color: #303030;
}
.gallery__list {
  margin-top: -30px;
  margin-left: -30px;
}
@media screen and (min-width: 768px) {
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.gallery__item {
  margin-top: 30px;
  margin-left: 30px;
}
.gallery__img {
  display: block;
}

.contact {
  background-color: #191c26;
  padding-bottom: 0;
}
@media screen and (min-width: 1280px) {
  .contact {
    padding-top: 0;
  }
}
.contact .container {
  padding: 0;
}
@media screen and (min-width: 1280px) {
  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form {
  padding: 0 31px 84px 31px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .form {
    padding: 0 39px 100px 39px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    padding: 130px 40px 193px 55px;
  }
}
.form__heading {
  font-size: 42px;
  line-height: 1.1666666667;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 44px;
  font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 768px) {
  .form__input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form__input-wrap .form__label {
    width: 330px;
  }
}
.form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .form__label--margin {
    margin-right: 30px;
  }
}
.form__placeholder {
  font-size: 11px;
  line-height: 1.3636363636;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}
.form__input:focus + .form__placeholder, .form__textarea:focus + .form__placeholder {
  color: #ffffff;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}
.form__input {
  background-color: transparent;
  height: 24px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}
.form__input:focus-visible {
  border-color: #ffffff;
}
.form__textarea {
  height: 76px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  resize: none;
}
.form__textarea:focus-visible {
  border-color: #ffffff;
}
.form__btn {
  padding: 12px 36px;
  color: #ffffff;
}

.contacts {
  padding: 84px 31px 84px 31px;
  background-image: url(../images/contacts-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts {
    background-image: url(../images/contacts-tablet.png);
    padding: 100px 39px 100px 39px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts-tablet@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    background-image: url(../images/contacts-desktop.png);
    padding: 130px 105px 100px 100px;
    width: 625px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts-desktop@2x.png);
  }
}
.contacts__heading {
  font-size: 42px;
  line-height: 1.1666666667;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.contacts__address {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__address {
    width: 330px;
    margin-bottom: 0;
  }
}
.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts__icon {
  width: 24px;
  height: 24px;
  fill: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 16px;
}
.contacts__link {
  font-size: 18px;
  line-height: 1.6666666667;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #9da4bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__time-wrap {
  margin-left: 30px;
}
.contacts__time-tittle {
  color: #ffffff;
}
.contacts__time-tittle::before {
  background-color: rgba(157, 164, 189, 0.6);
}
.contacts__time-text {
  font-size: 18px;
  line-height: 1.6666666667;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
  height: 138px;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 127px;
    padding-top: 56px;
    padding-left: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    height: 127px;
    padding-top: 56px;
    padding-left: 0;
  }
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__copy {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 11px;
  line-height: 1.3636363636;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .footer__copy {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.footer__list::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: #303030;
}
.footer__item--margin {
  margin-right: 40px;
}
.footer__social {
  font-size: 11px;
  line-height: 1.3636363636;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social:focus, .footer__social:hover {
  color: #ff6c00;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2)));
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 337px;
  background: #ffffff;
  -webkit-box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
          box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
  padding-top: 118px;
  padding-left: 40px;
}
.menu-close {
  position: absolute;
  top: 48px;
  right: 31px;
  border: none;
  background-color: transparent;
}
.menu-close__icon {
  fill: #303030;
}

.menu-nav {
  margin-bottom: 64px;
}
.menu-nav__item:not(:last-child) {
  margin-bottom: 24px;
}
.menu-nav__link {
  font-size: 18px;
  line-height: 1.3888888889;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #303030;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__link:hover, .menu-nav__link:focus {
  color: #ff6c00;
}

.menu-contact {
  margin-bottom: 64px;
}
.menu-contact__link {
  display: block;
  font-size: 18px;
  line-height: 1.3888888889;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #303030;
  margin-bottom: 24px;
}
.menu-contact__btn {
  padding: 12px 37px;
  color: #303030;
}

.menu-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-social__item::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
}
.menu-social__item--margin {
  margin-bottom: 24px;
}
.menu-social__item--margin::before {
  background-color: #303030;
}
.menu-social__link {
  font-size: 14px;
  line-height: 1.3571428571;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: #303030;
}/*# sourceMappingURL=main.css.map */