.about {
  & .container {
    display: flex;
  }

  &__list {
    @media screen and (max-width: ($tablet - 1px)) {
      display: none;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
  &__item--margin {
    @media screen and (max-width: ($desktop - 1px)) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }

  &__img {
    display: block;
  }

  &__wrap {
    margin-left: 30px;

    @media screen and (min-width: $desktop) {
      margin-left: 64px;
    }
  }

  &__pretittle {
    color: $primary-black-color;
    &::before {
      background-color: $primary-black-color;
    }
  }

  &__tittle {
    color: $primary-black-color;

    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      @include font(28px, (33 / 28), 700, 0.05em);
    }
  }

  &__after-tittle {
    margin-bottom: 20px;
  }

  &__text {
    @include font(14px, (26 / 14));
    margin-bottom: 40px;
  }

  &__btn {
    color: $primary-black-color;
  }
}
