.contact {
  background-color: $contact-bg;
  padding-bottom: 0;

  & .container {
    padding: 0;
  }
}

.form {
  padding: 0 31px 84px 31px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    padding: 0 39px 100px 39px;
    text-align: left;
  }

  &__heading {
    @include font(42px, (49 / 42), 700, 00.05em);
    color: $primary-white-color;
    margin-bottom: 44px;
    font-family: $tittle-font-family;
  }

  &__input-wrap {
    @media screen and (min-width: $tablet) {
      display: flex;
      & .form__label {
        width: 330px;
      }
    }
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 44px;
    @media screen and (min-width: $tablet) {
      &--margin {
        margin-right: 30px;
      }
    }
  }

  &__placeholder {
    @include font(11px, (15 / 11), 600, 0.1em);
    text-transform: uppercase;
    color: $pre-tittle-color;
    transition: color $transition-duration $timing-function,
      transform $transition-duration $timing-function;
    position: absolute;

    .form__input:focus + &,
    .form__textarea:focus + & {
      color: $primary-white-color;
      transform: translateY(-16px);
    }
  }

  &__input {
    background-color: transparent;
    height: 24px;
    border: none;
    border-bottom: 1px solid $pre-tittle-color;
    outline: none;
    transition: border-color $transition-duration $timing-function;
    color: $primary-white-color;
    &:focus-visible {
      border-color: $primary-white-color;
    }
  }

  &__textarea {
    height: 76px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $pre-tittle-color;
    outline: none;
    transition: border-color $transition-duration $timing-function;
    color: $primary-white-color;
    &:focus-visible {
      border-color: $primary-white-color;
    }
  }

  &__btn {
    padding: 12px 36px;
    color: $primary-white-color;
  }
}

.contacts {
  padding: 84px 31px 84px 31px;
  background-image: url(../images/contacts-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/contacts-mobile@2x.png);
  }

  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    background-image: url(../images/contacts-tablet.png);
    padding: 100px 39px 100px 39px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/contacts-tablet@2x.png);
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/contacts-desktop.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero-desktop@2x.png);
    }
  }

  &__heading {
    @include font(42px, (49 / 42), 700, 00.05em);
    font-family: $tittle-font-family;
    color: $primary-white-color;
    text-align: center;
    margin-bottom: 40px;
  }

  &__wrap {
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      display: flex;
    }
  }

  &__address {
    margin-bottom: 44px;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      width: 330px;
      margin-bottom: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-right: 16px;
  }

  &__link {
    @include font(18px, (30 / 18), 400);
    font-style: normal;
    color: $after-tittle-color;

    display: flex;
  }
  &__time-wrap {
    margin-left: 30px;
  }

  &__time-tittle {
    &::before {
      background-color: $pre-tittle-color;
    }
    color: $primary-white-color;
  }

  &__time-text {
    @include font(18px, (30 / 18));
    color: $after-tittle-color;
  }
}
