.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
  }

  & .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 49px;
    padding-right: 40px;
    margin: 0 auto;
  }
}

.logo {
  fill: $primary-black-color;

  @media screen and (max-width: ($tablet - 1px)) {
    fill: $primary-white-color;
  }
}

.nav {
  @media screen and (max-width: ($tablet - 1px)) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 61px;
    padding-top: 20px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {
    @include font(12px, (16 / 12), 600, 0.1em);
    color: $primary-white-color;
    transition: color $transition-duration $timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.header__contact {
  @media screen and (max-width: ($tablet - 1px)) {
    display: none;
  }

  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 8px;
    align-items: center;
    margin-left: 47px;
  }
}

.header__link {
  @include font(12px, (16 / 12), 600, 0.1em);
  color: $primary-white-color;
  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    margin-top: 20px;
  }
}

.header__btn {
  color: $primary-white-color;
}

.menu-open {
  border: none;
  background-color: transparent;
  &__icon {
    fill: $primary-white-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
