.hero__wrapper {
  margin: 0 auto;
  height: 580px;
  background-image: url(../images/hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 208px 143px 163px 31px;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/hero-mobile@2x.jpg);
  }

  @media screen and (min-width: $mobile) and (max-width: ($tablet - 1px)) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    width: 576px;
    padding: 280px 167px 237px 70px;
    background-image: url(../images/hero-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    width: 1073px;
    height: 680px;
    padding: 272px 452px 206px 96px;

    background-image: url(../images/hero-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero-desktop@2x.jpg);
    }
  }
}

.hero {
  display: flex;

  &.container {
    @media screen and (min-width: $desktop) {
      padding-left: 0;
    }
  }
}

.hero__left {
  @media screen and (max-width: ($tablet - 1px)) {
    display: none;
  }

  display: flex;
  align-items: flex-end;
  width: 85px;
  margin-right: 28px;
  padding: 0 35px 40px 35px;

  @media screen and (min-width: $desktop) {
    padding: 0 56px 40px 78px;
  }
}

.hero__list {
  display: flex;
  transform: rotate(-90deg);
  transform-origin: top left;
  align-items: center;
  &::before {
    content: '';
    width: 60px;
    height: 1px;

    margin-right: 20px;
    background-color: $primary-black-color;
  }
}

.hero__item--margin {
  margin-right: 40px;
}

.hero__social {
  @include font(11px, (15 / 11), 600, 0.2em);
  color: $primary-black-color;
  transition: color $transition-duration $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.hero__pretittle {
  color: $pre-tittle-color;

  &::before {
    background-color: $pre-tittle-color;
  }
}

.hero__tittle {
  font-family: $tittle-font-family;
  @include font(48px, (56 / 48), 700, 0.05em);
  color: $primary-white-color;
  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    @include font(72px, (85 / 72), 700, 0.05em);
  }
}

.hero__after-tittle {
  color: $after-tittle-color;

  @media screen and (min-width: $desktop) {
    width: 400px;
  }
}
