body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: $primary-font-family;
  letter-spacing: 0.02em;
}

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin: 0 auto;

  @media screen and (max-width: ($tablet - 1px)) {
    max-width: $mobile;
  }

  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    width: $tablet;
    padding-left: 39px;
    padding-right: 39px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: 59px;
    padding-right: 59px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &__pretittle {
    @include font(11px, (15 / 11), 600, 0.1em);
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      width: 60px;
      height: 1px;

      margin-right: 20px;
    }
  }

  &__tittle {
    @include font(28px, (33 / 28), 700, 0.05em);
    margin-bottom: 20px;
  }

  &__after-tittle {
    @include font(16px, (26 / 16));
  }
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: transparent;
  @include font(12px, (16 / 12), 600, 0.09em);
  border-radius: 25px;
  border: 1px solid $accent-color;
  text-transform: uppercase;
}
