body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: $main-font-family;
  letter-spacing: 0.03em;
}

.container {
}

.section {
}

.button {
  &:hover,
  &:focus {
  }
}
