$primary-black-color: #303030;
$primary-text-color: #555555;
$pre-tittle-color: rgba(157, 164, 189, 0.6);
$after-tittle-color: #9da4bd;
$accent-color: #ff6c00;
$primary-white-color: #ffffff;
$tittle-font-family: 'Raleway', sans-serif;
$primary-font-family: 'Open Sans', sans-serif;
$primary-bg-color: #e5e5e5;
$secondary-bg-color: #111319;
$gap: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
